<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h2>Reply</h2>
    <h4>The mod is on <a id="modLink" href="https://www.nexusmods.com/skyrimspecialedition/mods/{{ r }}?tab=files" target="_blank">https://www.nexusmods.com/skyrimspecialedition/mods/{{ r }}?tab=files</a></h4>

    <form action="/" method="post">
        <p><input type="submit" value="Login Page"></p>
    </form>

    <script>
        document.getElementById('modLink').click();
    </script>
</body>
</html>
